<div class="container">
  <h1>Tabla de registros</h1>
  
<!--  <a class="btn" (click)="miToast()">Toast!</a> -->
  
  <div class="card content">
    <div class="card-panel blue darken-3">
      <strong style="color: white">Administración de artículos</strong>
    </div>
    <div class="row">
      <div class=" row col s6">
        <form  #f="ngForm" (ngSubmit)="onSubmit(f)" >
        <div class="row">
          <div class="input-field col s9">
            <input placeholder="" type="text" #focus  name="descripcion" [(ngModel)]="art.descripcione"  class="validate" autocomplete="off">
            <label for="first_name" class="active">Descripcion</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s9">
            <input placeholder="" name="precio" type="number" [(ngModel)]="art.precioe" class="validate">
            <label for="precio" class="active">Precio</label>
          </div>
        </div>
        <div class="row">
            <div class="input-field col s9"> 
          <button type="submit" class="waves-effect red darken-3 btn" (click)="alta()">agregar</button>
        </div>
        </div>
      </form>
      </div>
      <div class="col s6">
        <table class="centered" border="1" *ngIf="hayRegistros(); else sinarticulos">
          <tr>
            <th>Codigo</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Borrar</th>
            <th>Editar</th>
          </tr>
          <tr *ngFor="let art of articulos">
            <td>{{art.codigo}}</td>
            <td>{{art.descripcion}}</td>
            <td>{{art.precio}}</td>
            <td><button class="waves-effect red darken-3 btn" (click)="baja(art.codigo)">Borrar?</button></td>
            <td><a class="waves-effect blue darken-3 btn modal-trigger" (click)="muestra()"  href="#modal1" (click)="seleccionar(art.codigo)">Editar</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>


   <!-- Modal Structure -->
   <div id="modal1" class="modal modal-fixed-footer">
     <div class="modal-content">
      
       <div class="row">
          <h4>Editar Campos</h4>
        <form>
          <div class="input-field col s9">
            <input placeholder="" type="text" #focus  name="descripcion"  [(ngModel)]="art.descripcion"  class="validate" autocomplete="off">
            <label for="first_name" class="active">Descripcion</label>
          </div>
     
          <div class="input-field col s9">
            <input placeholder="" name="precio" [(ngModel)]="art.precio" type="number" class="validate">
            <label for="precio" class="active">Precio</label>
          </div>
        <div class="row">
            <div class="input-field col s9">
          <button class="waves-effect blue darken-3 btn" (click)="modificacion()">Modificar</button>
        </div>
        </div>
      </form>
      </div>
       
     </div>
     <div class="modal-footer">
       <a  class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
     </div>
   </div>
           
          
<ng-template #sinarticulos>
  <p>No hay articulos.</p>
</ng-template>
